@import url("(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700)");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1 {
  text-transform: lowercase; }

.weather, .main-article, .side-column, .article-featured, .stacked-article, .article-featured-fourth-row {
  border-top: 1px solid #AADCE6; }

.pink h4, h3, h4 {
  color: #00456E;
  font-size: 1.35em; }

.pink h4 {
  color: #FDADBA; }

h5 {
  color: #00456E;
  font-size: 1.1em; }

.main-article, .side-column, figcaption {
  padding-left: 5px; }

.side-column p, h4 {
  margin-left: 0;
  float: right;
  width: 60%; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Libre Baskerville", "Georgia", serif;
  font-weight: 400;
  background-color: #fff; }

.weather {
  display: none; }
  @media screen and (min-width: 950px) {
    .weather {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 24.33428%; }
      .weather:last-child {
        margin-right: 0; } }

.main-article {
  background-color: #f3f3f3; }
  @media screen and (min-width: 680px) {
    .main-article {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 74.77809%; }
      .main-article:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 680px) and (min-width: 950px) {
    .main-article {
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 49.55618%; }
      .main-article:last-child {
        margin-right: 0; } }

.side-column {
  overflow: hidden;
  background-color: #f3f3f3; }
  @media screen and (min-width: 680px) {
    .side-column {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 15.92697%;
      margin-right: 0; }
      .side-column:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 680px) and (min-width: 950px) {
    .side-column {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 15.92697%;
      margin-right: 0; }
      .side-column:last-child {
        margin-right: 0; } }

.offset-col {
  display: none; }
  @media screen and (min-width: 950px) {
    .offset-col {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 7.51967%; }
      .offset-col:last-child {
        margin-right: 0; } }

.weather-empty {
  display: none; }
  @media screen and (min-width: 950px) {
    .weather-empty {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 24.33428%; }
      .weather-empty:last-child {
        margin-right: 0; } }

.article-featured {
  background-color: #f3f3f3; }
  @media screen and (min-width: 680px) {
    .article-featured {
      height: 300px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 22.23245%; }
      .article-featured:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 680px) and (min-width: 950px) {
    .article-featured {
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 15.92697%; }
      .article-featured:last-child {
        margin-right: 0; } }

.pink {
  background-color: #991d57;
  color: #fff; }

.stacked-article {
  background-color: #f3f3f3;
  border-bottom: 5px solid white;
  padding: 5px;
  height: 100px;
  width: 98%; }

.article-stacking {
  background-color: #991d57;
  color: #fff; }
  @media screen and (min-width: 680px) {
    .article-stacking {
      height: 400px;
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 49.55618%; }
      .article-stacking:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 680px) and (min-width: 950px) {
    .article-stacking {
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 32.74158%; }
      .article-stacking:last-child {
        margin-right: 0; } }

.article-stacking-row p {
  margin: 0;
  width: 65%;
  float: right; }

.article-stacking-row {
  overflow: hidden;
  height: 100px;
  width: 100%;
  border-bottom: 10px solid white; }

@media screen and (min-width: 680px) {
  .article-featured-fourth-row {
    height: 400px;
    float: left;
    display: block;
    margin-right: 0.88763%;
    width: 20.13062%; }
    .article-featured-fourth-row:last-child {
      margin-right: 0; } }
  @media screen and (min-width: 680px) and (min-width: 950px) {
    .article-featured-fourth-row {
      float: left;
      display: block;
      margin-right: 0.88763%;
      width: 15.92697%; }
      .article-featured-fourth-row:last-child {
        margin-right: 0; } }

.article-featured img {
  width: 30%; }
  @media screen and (min-width: 680px) {
    .article-featured img {
      width: 100%; } }

.article-featured-fourth-row img {
  width: 30%; }
  @media screen and (min-width: 680px) {
    .article-featured-fourth-row img {
      width: 100%; } }

.badass-eagle {
  width: 100%;
  border: 1px solid #00456E; }
  @media screen and (min-width: 680px) {
    .badass-eagle {
      width: 65%;
      float: right; } }

@media screen and (min-width: 680px) {
  .side-column p, h4 {
    float: none;
    width: 100%; } }

.side-column img {
  float: left;
  width: 30%; }

.side-column img {
  width: 30%; }
  @media screen and (min-width: 680px) {
    .side-column img {
      width: 100%; } }

.article-stacking-row img {
  width: 35%;
  float: left; }

.fa-commenting {
  color: #656565;
  padding: 10px 5px 5px 5px;
  font-size: 12.8px; }

p {
  margin-top: 5px; }

.headline-text {
  color: #656565; }

@media screen and (min-width: 680px) {
  figcaption {
    width: 25%;
    float: left; } }

@media screen and (min-width: 950px) {
  h3 {
    display: none; } }

h4 {
  margin: 0; }

h5 {
  margin: 0; }

.container {
  max-width: 90.625em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 680px) {
    .container {
      margin-left: auto; } }
  @media screen and (min-width: 950px) {
    .container {
      margin-left: auto; } }

header {
  background-color: #005689;
  height: 120px;
  width: 100%; }

.blue-text {
  color: #AADCE6; }

.icon-bar {
  margin-left: 5px; }

h1 {
  color: #fff;
  float: right;
  margin: 0 15px 0 0; }

.navbar-top {
  display: none; }

.navbar-bottom {
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
  height: 30px;
  padding: 5px 0 5px 0;
  background-color: #00456E; }
  @media screen and (min-width: 680px) {
    .navbar-bottom {
      text-align: center; } }

a {
  line-height: 1.5em;
  font-size: 1.125em;
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px; }
  a:hover {
    text-decoration: underline; }

/*# sourceMappingURL=application.css.map */
