
// ==========================================================================
// Helpers
// ==========================================================================


// Placeholders

%downcase {
  text-transform: lowercase;
}

%links {
  text-decoration: none;
}

%border-top {
  border-top: 1px solid $pale-blue;
}
