//Columns Styling

// Top Row

.weather {
  display: none;
    @extend %border-top;
    @include media($desktop) {

    height: 300px;
    @include span-columns(3);
  }
}

.main-article {
  @extend %col-padding;
  @extend %border-top;
  background-color: $color-primary--body;

  @include media($mobile) {
    height: 300px;
    @include span-columns(9);

    @include media($desktop) {
    @include span-columns(6);
    }
  }
}

.side-column {
  overflow: hidden;
  @extend %col-padding;
  @extend %border-top;
  background-color: $color-primary--body;
  @include media($mobile) {
    height: 300px;
    @include span-columns(2);
        @include omega();

  @include media($desktop) {
    height: 300px;
    @include span-columns(2);
        @include omega();
    }
  }
}



.offset-col {
  display: none;

  @include media($desktop) {
    height: 300px;
    @include span-columns(1)
  }
}


// Bottom Row

.weather-empty {
  display: none;
    @include media($desktop) {

    height: 300px;
    @include span-columns(3);
  }
}

.article-featured {
  background-color: $color-primary--body;
  @extend %border-top;
  @include media($mobile) {
    height: 300px;
    @include span-columns(2.75);

  @include media($desktop) {
    @include span-columns(2);
    }
  }
}


.pink {
  background-color: $color-accent;
  color: $color-body-text--secondary;
  h4 {
    @extend %pink-headline--big;
  }
}

.stacked-article {
  background-color: $color-primary--body;
  @extend %border-top;
  border-bottom: 5px solid white;
  padding: 5px;
  height: 100px;
  width: 98%;
}

// Fourth row

.article-stacking {
  background-color: $color-accent;
  color: $color-body-text--secondary;

  @include media($mobile) {
    height: 400px;
    @include span-columns(6);

  @include media($desktop) {
    @include span-columns(4);
    }
  }
}

.article-stacking-row p {
  margin: 0;
  width: 65%;
  float: right;
}

.article-stacking-row {
  overflow: hidden;
  height: 100px;
  width: 100%;
  border-bottom: 10px solid white;
}



.article-featured-fourth-row {
  @extend %border-top;
  @include media($mobile) {
    height: 400px;
    @include span-columns(2.5);

  @include media($desktop) {
    @include span-columns(2);
    }
  }
}


//Images

.article-featured img {
  width: 30%;
  @include media($mobile) {
    width: 100%;
  }
}

.article-featured-fourth-row img {
  width: 30%;
  @include media($mobile) {
    width: 100%;
  }
}

.badass-eagle {
  width: 100%;
  border: 1px solid $color-headline;

  @include media($mobile) {
    width: 65%;
    float: right;
  }
}

.side-column p, h4 {
  @extend %text-mobile;

  @include media($mobile) {
    float: none;
    width: 100%;
  }
}

.side-column img {
  float: left;
  width: 30%;
}

.side-column img {
  width: 30%;
  @include media($mobile) {
    width: 100%;
  }
}

.article-stacking-row img {
  width: 35%;
  float: left;
}

.fa-commenting {
  color: $color-headline--text;
  padding: 10px 5px 5px 5px;
  font-size: $base__font-size * 0.8;
}

//Text

p {
  margin-top: 5px;
}

.headline-text {
  color: $color-headline--text;
}

figcaption {
  @extend %col-padding;

  @include media($mobile) {
    width: 25%;
    float: left;
    }
  }

h3 {
  @extend %blue-headline--big;
  @include media($desktop) {
    display: none;
  }
}

h4 {
  @extend %blue-headline--big;
  margin: 0;
}

h5 {
  @extend %blue-headline--small;
  margin: 0;
}
