//Columns Styling

// column containers

.weather {
  display: none;

  @include media($desktop) {
    height: 300px;
    @include span-columns(3);
  }
}

.offset-col {
  display: none;

  @include media($desktop) {
    height: 300px;
    @include span-columns(1)
  }
}


  h3 {
  color: $color-headline--text;

  @include media($desktop) {
    display: none;
  }

}


// Top Row

.main-article {
  // border: 1px solid black;
  background-color: $color-primary--body;

  @include media($mobile) {
    height: 300px;
    @include span-columns(9);


  @include media($desktop) {
    @include span-columns(6);

    }
  }
}

.side-column {
  // border: 1px solid black;
  background-color: $color-primary--body;
  @include media($mobile) {
    height: 300px;
    @include span-columns(2);
        @include omega();

  @include media($desktop) {
    height: 300px;
    @include span-columns(2);
        @include omega();
    }
  }
}


// Bottom Row

.article-featured {
  // border: 1px solid black;
  background-color: $color-primary--body;

  @include media($mobile) {
    height: 300px;
    @include span-columns(2.75);

  @include media($desktop) {
    @include span-columns(2);
    }
  }
}



//Images, Text, and other details

.badass-eagle {
  width: 100%;
  border: 1px solid $color-headline;

  @include media($mobile) {
    width: 70%;
    float: right;
  }
}

.headline {
  color: $color-headline;
  font-size: $base__font-size * 1.25;
}

.headline-text {
  color: $color-headline--text;
  font-size: $base__font-size * 1.25;
}

hr {
  border-top: 1px dotted #8c8b8b;
  width: 40%;
  align: left;
}

figcaption {
  padding-left: 5px;

  @include media($mobile) {
    width: 25%;
    float: left;
  }
}

.fa-commenting {
  color: $color-headline--text;
  padding: 10px 5px 5px 5px;
  font-size: $base__font-size * 0.8;
}
