//Container Styles

.container {
  @include outer-container;
  background-color: $color-secondary--body;
  margin-top: 20px;
  margin-bottom: 20px;

    @include media($mobile) {
      margin-left: auto;


    }
    @include media($desktop) {
      margin-left: auto;

    }
}
