//Container Styles

.container {
  @include outer-container;
  background-color: $color-secondary--body;
  margin-top: 20px;

    @include media($mobile) {
      margin-left: auto;
      right: 0;
    }
    @include media($desktop) {
      margin-left: auto;
    }
}
